@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');


:root { /* Variáveis CSS. Elas são definidas dentro do seletor :root, que é o elemento raiz do documento (equivalente ao html). O uso de variáveis torna o código mais fácil de manter e reutilizar, pois permite definir um valor uma vez e usá-lo em vários lugares. */
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte3: 'Caveat', cursive, sans-serif;
}

* { /* Seletor universal. Essa configuração faz com que o texto fique grudado ao começo da página*/
    margin: 0px;
    padding: 0px;
    font-size: em;
}

html, body { /*HTML e Body irão receber uma mesma configuração*/
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;

}

header h1 {
    font-family: var(--fonte1);
    padding-top: 50px;
    font-variant: small-caps; /* Deixa as letras em caixa alta, mas com a altura de uma letra minúscula */
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 3.5vw;
    font-weight: bold;

}

section p {
    padding-bottom: 2em;
}

.normal {
    background-color: white;
    color: black;
}

.imagem{
    background-color: rgb(32, 32, 32);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.514);
    background-size: cover;
    background-attachment: fixed; /* Faz com que a imagem de fundo fique fixa, mesmo quando a página for rolada (Efeito Paralax)*/
}

#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;

}

#img02 {
    background-image: url('imagens/background002.jpg');
    
}

.imagem p {
    display: inline-block; /*A caixa em volta se adapta ao tamanho do texto dentro dela*/
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.254);
    text-shadow: 1px 1px 0px black;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}